# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Tests
tests/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Node
frontend/node_modules/
frontend/dist/